.galIMG {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-style: solid;
    border-color: black;
}

.galIMG:hover {
    width: 440px;
    cursor: pointer;
    border-style: solid;
    border-color: aqua;
    transition: 0.4s;
}

a {
    text-decoration: none;
}

h1 {
    font-family: Jost;
}

h2 {
    font-family: Jost;
}

a:visited {
    color:white;
    text-decoration: none;
}